#Table {
	border-radius: 10px;
	border: 1px solid #eee;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

	table {
		border: 1px solid black;

		thead {
			border-bottom: 1px solid black;
			tr {
				th {
					text-align: center;
					font-weight: bold;
					color: black;
					font-family: 'Montserrat', sans-serif;
				}
			}
		}
	}
}
